


.contact-card{
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    width: 70vw;
    max-width: 750px;
    border: 2px solid #60564a;
    margin: 10px;
    color: #3f3942;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    padding-right: 30px;
    background-color: rgb(165, 176, 164, 0.2);
    overflow: auto;
    flex-wrap: wrap;
  }


  .socials-card {
    display: flex;
    align-items: space-between;
    justify-content: center;
    object-fit: scale-down;
    text-align: right;
  }
  
     .social-icons{
      display: flex;
      flex: auto;
      width: auto;
      height: auto;
      flex-shrink: inherit;
      align-items: space-between;
      justify-content: space-between;
      object-position: right bottom;
      flex-wrap: nowrap;
      flex-shrink: 1;
      object-fit: scale-down;
     }
  
     .email-icon{
      display: flex;
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
      margin-left: 10px;
     
     }
    
     .facebook-icon{
      display: flex;
      margin-right: 10px;
      margin-left: 10px;
      
     }
  
     .instagram-icon{
      display:flex;
      margin-right: 10%;
      margin-left: 10%;
      padding-right: 10%;
      padding-left: 10%;
     }

  
  .contact-card:hover{
    background-color: rgb(165, 176, 164, 0.8);
    transition: flex 0.7s ease-in
  }

.contact-card-active{
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto;
    width: 70vw;
    max-width: 750px;
    border: 2px solid #60564a;
    color: #3f3942;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(165, 176, 164, 0.2);
}

.contact-splash-img{
    margin: 10px;
    margin-right: 30%;
    height: 30%;
    width: 30%;
    text-align: left;
    border-radius: 90px;
    border: 1px solid #60564a;
   }


   .text-image-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

