


.contact-card{
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    width: 70vw;
    max-width: 750px;
    border: 2px solid #60564a;
    margin: 10px;
    color: #3f3942;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    padding-right: 30px;
    background-color: rgb(165, 176, 164, 0.2);
    overflow: auto;
    flex-wrap: wrap;
  }

  /* .connect-card{
    flex: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow:scroll
    
  } */


  .socials-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: scale-down;
    text-align: right;
  }
  
     .social-icons{
      display: flex;
      flex: auto;
      width: auto;
      height: auto;
      flex-shrink: inherit;
      align-items: space-between;
      justify-content: flex-end;
      flex-wrap: nowrap;
      flex-shrink: 1;
      object-fit: scale-down;
      /* max-height: 3rem;
      max-width: 3rem; */
     }
  
     .email-icon{
      display: flex;
      max-width: 50px;
      max-height: 50px;
     }
    
     .facebook-icon{
      display: flex;
     }
  
     .instagram-icon{
      display:flex;
     }

  
  .contact-card:hover{
    background-color: rgb(165, 176, 164, 0.8);
    transition: flex 0.7s ease-in
  }

.contact-card-active{
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto;
    width: 70vw;
    max-width: 750px;
    border: 2px solid #60564a;
    /* margin: 10px; */
    color: #3f3942;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    /* font-size: 50px; */
    padding: 10px;
    background-color: rgb(165, 176, 164, 0.2);
}

.contact-splash-img{
    margin: 10px;
    margin-right: 30%;
    height: 30%;
    width: 30%;
    text-align: left;
    border-radius: 90px;
    border: 1px solid #60564a;
   }


   /* .close-form{
    font-size: 2rem;
    offset: 5px 5px;
    cursor: pointer;
} */

