body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    padding: 10px;
    background-image: linear-gradient(#d9d9c1, #6b4238);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }